{% extends 'crm_app/base.html' %}

{% block title %}Raport Sprzedaży{% endblock %}

{% block content %}
    <h1>Raport Sprzedaży</h1>

    <!-- Sekcja dla "Zrealizowane" -->
    <h2>Zrealizowane</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID Zamówienia</th>
                <th>Klient</th>
                <th>Kwota</th>
            </tr>
        </thead>
        <tbody>
            {% for zamowienie in zamowienia_zrealizowane %}
                <tr>
                    <td>{{ zamowienie.id }}</td>
                    <td>{{ zamowienie.klient }}</td>
                    <td>{{ zamowienie.kwota }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Brak zrealizowanych zamówień.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Łączna kwota sprzedaży:</strong> {{ laczna_kwota }}</p>

    <!-- Sekcja dla "W realizacji" -->
    <h2>W realizacji</h2>
    <table class="table table-warning">
        <thead>
            <tr>
                <th>ID Zamówienia</th>
                <th>Klient</th>
                <th>Kwota</th>
            </tr>
        </thead>
        <tbody>
            {% for zamowienie in zamowienia_w_realizacji %}
                <tr>
                    <td>{{ zamowienie.id }}</td>
                    <td>{{ zamowienie.klient }}</td>
                    <td>{{ zamowienie.kwota }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Brak zamówień w realizacji.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Sekcja dla "Anulowane" -->
    <h2>Anulowane</h2>
    <table class="table table-danger">
        <thead>
            <tr>
                <th>ID Zamówienia</th>
                <th>Klient</th>
                <th>Kwota</th>
            </tr>
        </thead>
        <tbody>
            {% for zamowienie in zamowienia_anulowane %}
                <tr>
                    <td>{{ zamowienie.id }}</td>
                    <td>{{ zamowienie.klient }}</td>
                    <td>{{ zamowienie.kwota }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Brak anulowanych zamówień.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
